html {
    box-sizing: border-box;
    font-size: 62.5%;/**resetea los REMS : 62.5% = 10 px de 16px **/
}

*, *::before , *::after {
    box-sizing: inherit;
}
body{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    background: black;   
}


/*VARIABLES GLOBALES*/
.contenedor {
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

h1 {
    font-size: 3.8rem;
    font-family: 'Electrolize', sans-serif;
    color: white;
}

h2 {
    font-size: 3.4rem;
    font-family: 'Electrolize', sans-serif;
    color: white;
}

h3 {
    font-size: 3rem;
    font-family: 'Electrolize', sans-serif;
}

h4 {
    font-size: 3.6rem; 
    font-family: 'Electrolize', sans-serif;
}

p{
    font-family: 'Patrick Hand', cursive;
}
fieldset{
    background: rgba(100, 100, 100 , 0.5);
}

.texto-centrado{
    text-align: center;
}

.boton-comunidad{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    padding: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
    text-decoration: none;
    background:rgba(255, 255, 255, 0.020);
    border-radius: 4rem;   
}



.slide {
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slide ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 400%;
    animation: animacion-cambio 20s infinite alternate linear;
}

.slide ul li {
    margin: 0;
    width: 100%;
    list-style: none;
}

.slide img {
    width: 100%;
    height: 100%;
    margin: 0;
    border-top: 1px solid white;
    filter: brightness(40%);
}

@keyframes animacion-cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left:-300%;}
}

.caja-bordes{
    border-radius: 10rem ;
}

.borde-cajas{
    animation-name: animacion-borde;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}
@keyframes animacion-borde{
    0%{ border-top: 2px solid white;
        border-bottom: 2px solid white;}
    30%{ border-top: 2px solid rgb(229, 255, 0);
        border-bottom: 2px solid rgb(229, 255, 0);}
    60%{ border-top: 2px solid rgb(0, 217, 255);
        border-bottom: 2px solid rgb(0, 217, 255);}
    100%{border-top: 2px solid rgb(92, 4, 151);
        border-bottom: 2px solid rgb(92, 4, 151);}
}

.Separacion-cajas{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.hover:hover{
    transform: scale(1.2);
}


/*HEADER*/
.header-inicio{
 margin: 0;  
 padding: 0;
 
}
.header {
    background: linear-gradient(to right,#260550 0%,#030300 10%);
    font-size: 3.6rem;
    background-position: center center;
    background-size: cover;
}


.contenido-header{
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: calc(33.3% - 1rem);
    justify-content: space-around;
    
}

.contenido-header h1 {
    color: rgb(255, 255, 255);
    font-family: 'Electrolize', sans-serif;
    font-size: 2.5rem;
    max-width: 60rem;
    padding-bottom: 1rem;
    text-decoration: none;
}

.contenido-header img{
    padding-top: 1.8rem; 
}



.menu-barra{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.organizacion-logo { 
    display: flex;
    flex-basis: calc(17% - 1rem);
    justify-content: space-between;
    align-items: center;
    
}

/*NAVEGACION*/


.navegacion a{
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1rem;
    margin: 0;
}

.navegacion a:hover{
    color:white;
    background: #260550;    
}



/*SECCION-VIDEO*/
.seccion.contenedor {
    background: black;
    margin-top: 0;
    border-top: 2px solid white;
    border-bottom: 1px solid white;
   
}


.titulo-seccion {
    background: black;
    
}
.titulo-seccion h2{
    margin: 0;
    padding: 2rem;
    color: white;
}
.seccion video{
    max-width: 100%;
    max-height: 100%;
   
}

/*SECCION-COMUNIDAD*/

.seccion2{
    border-bottom: 2px solid white;

}
.seccion2 h2 {
    color: white;
    background-color: black;
    padding: 2rem;
    margin-top: 0.1rem;
    margin-bottom: 0;
}

.comunidad-seccion {
    display: flex;
    flex-direction:row;
    justify-content: space-between; 
}

.comunidad {
    flex-basis: calc(33.3% - 1rem);
    border: 1px solid #b5b5b5;
    background: #f5f5f5;    
}

.comunidad img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fondo1 {
    color: white;
    background: #369EA5;
    padding: 2rem;  
}



.fondo2 {
    color: white;
    background: #7500E9;
    padding: 2rem;
   
}

.fondo3 {
    color: white;
    background: #FF3D00;
    padding: 2rem;
  
}

.posicion-boton{
    display: flex;
    justify-content: center;
    padding: 2rem;
}


/*MAIN*/
.main-principal{
    max-width: 70%; 
    border-bottom: 2px solid white; 
}

.main-principal h2{
    color: white;
    background:rgba(32, 32, 32, 0.1); 
    padding: 2rem;
    margin: 0;
    
}

.catalogo-juegos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    background:rgba(32, 32, 32, 0.1);
    padding-top: 2rem;
}


.Juego-fps{
    position: relative;
    align-items: center;
    max-width: 50%;
    padding: 0;
    margin: 0;
    transform-style: preserve-3d; /*al elemento padre le paso esta propiedad para que voltee a ver el back*/
    transition: transform 1s linear;
   
}

 .Juego-fps img  , .contenido-back{
    color: white;
    max-width: 100%;
    max-height: 100%;
    filter: brightness(60%);  
    backface-visibility: hidden;
 }

.Juego-fps:hover {
    transform: rotateY(180deg);
}


.contenido-back{
    background: rgb(0, 0, 0);
    text-align: center;
    position: absolute;
    margin: 0;
    top: 0;
    transform: rotateY(180deg);/*gira el elemento back para que cuando se vea volteado este en orden*/   
 }


 /*FOOOTER*/
 .sitio-footer{
     background: #0c0c0c;
     margin: 0;
     border-top: 2px solid white;
     display: flex;
     justify-content: space-between;
 }
 
 .contenedor-footer{
  margin-top: 5rem;
 }
 
.redes-sociales::before{
    content: '';
    display: block;
    width: 0.5rem;
    height: 6rem;
    background: white;
}
 .redes-sociales {
     display: flex;
     justify-content: flex-end;
     margin-top: 2rem;
     align-items: center;
     max-width: 70%;   
 }

 .redes-sociales h4{
    color: white;
    font-size: 2rem;
    margin-right: 2rem;
    
}
 .redes-sociales a{
     margin-right:2rem;        
 }

 .redes-sociales a::after {
    content: '';
    display: block;
    width: 6rem;
    height: .5rem;
    background:white;      
}
 .redes-sociales img {   
     width: 6rem;
     height: 6rem;
 }

 .copyrigth {
     color: white;
     font-size: 1.4rem;
     margin-top: 5rem;
 }

/*PAGINAS INTERNAS*/


/*PAGINA INGRESAR DATO*/

.clase-principal{
    background: #030300;

}
.contenido-insertar {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin-top: 0.5rem;
    
}

.contenedor-form{
    background: rgb(15, 15, 15);
    padding: 5rem; 
}
 
label{
    color: white;
    font-size: 2rem;
}



.caja input[type="number"]{
    color: #000000;
    font-size: 2rem;
    text-align: center;
    width: 15rem;
    height: 10rem;
}

.caja input[type="submit"]{
    background: #5c5c5c;
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    
}

.descripcion p{
    color: white;
    font-size:2rem;
}


/*PAGINA RESULTADO TABLA*/

.contenedor-resultado{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background: rgb(31, 31, 31);
    max-width: 80rem;
    margin: 2rem auto 2rem auto;
    
}

.contenedor-resultado a{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    background: rgb(250, 250, 250 , 0.2);
    padding: 1rem;
    text-decoration: none;
    
    border: 2px solid rgb(7, 223, 252);
    border-radius: 4rem;

    position: absolute;
    top: 2rem;
    right: 2rem;
}



.tabla-resultado{
    background: rgb(82, 82, 82 , 0.5);
    text-align: center;
    max-width: 80rem;
    
    padding: 0 1rem 0 1rem;
    margin: 2rem auto 2rem auto;   
}

.tabla-resultado p , 
.contenedor-resultado p {
    line-height: 1;
    font-size: 2rem;
    color: white;
    margin: 0;
    padding: 0;     
}

